@import "vars";
@import "reset";
@import "general";

//Header
.navbar {
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
  .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: $primary-text-color;
  }
  a {
    display: inline-block;
  }
  .nav-list {
    li {
      margin-left: 2rem;
      a {
        font-size: 1.2rem;
        color: $primary-text-color;
        padding: 2em 2em;
        &:hover {
          color: $secondary;
          background-color: rgba($color: $secondary, $alpha: 0.2);
        }
      }
    }
  }
}
