@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.col-span-2 {
  grid-column: span 2;
}

.btn {
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border-radius: 20px;
  color: #fff;
  margin-top: 2rem;
  background: #8860d0;
  background: #5ab9ea;
  -webkit-box-shadow: 3px 6px 6px rgba(90, 185, 234, 0.3);
          box-shadow: 3px 6px 6px rgba(90, 185, 234, 0.3);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #131313;
}

.navbar a {
  display: inline-block;
}

.navbar .nav-list li {
  margin-left: 2rem;
}

.navbar .nav-list li a {
  font-size: 1.2rem;
  color: #797979;
  padding: 2em 2em;
}

.navbar .nav-list li a:hover {
  color: #5ab9ea;
  background-color: rgba(90, 185, 234, 0.2);
}

.hero {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.hero .hero-content {
  background-color: #faf9fe;
  padding: 2rem;
  border-radius: 20px;
  place-items: center;
}

.hero .hero-content img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero-content article {
  padding: 2rem 4rem;
}

.hero .hero-content article .me {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #797979;
  letter-spacing: 3px;
}

.hero .hero-content article h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #131313;
}

.hero .hero-content article p {
  color: #797979;
  font-size: 1.2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  margin-top: 2rem;
  padding: 2rem 0;
  -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer .social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-icon-list li {
  margin: 0 1rem;
}

footer .social-icon-list li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 55px;
  height: 55px;
  font-size: 1.5rem;
  background: #5ab9ea;
  -webkit-box-shadow: 3px 6px 6px rgba(90, 185, 234, 0.3);
          box-shadow: 3px 6px 6px rgba(90, 185, 234, 0.3);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, box-shadow 200ms ease-in;
  transition: transform 200ms ease-in, box-shadow 200ms ease-in, -webkit-transform 200ms ease-in, -webkit-box-shadow 200ms ease-in;
}

footer .social-icon-list li a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.projects .project {
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.projects .project:hover .project-details {
  opacity: 1;
}

.projects .project .project-title {
  padding: 1rem;
  background: #5ab9ea;
  color: #fff;
}

.projects .project-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.projects .project-details a {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */